<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body class="page">
    <div class="section">
        <h1 class="section-title">Admin Login</h1>
        <form action="/AdminLogin" method="post" class="form">
            <fieldset class="form-fieldset">
                <input type="text" name="username" placeholder="Username" class="form-input" required unique>
                <input type="password" name="password" placeholder="Password" class="form-input" required>
                <button type="submit" class="btn btn-primary">Login</button>
            </fieldset>
            <fieldset class="form-fieldset">
                <p>Don't have an account? <a href="/AdminSignUp">Sign up here</a></p>
            </fieldset>
        </form>
    </div>
</body>
</html>