<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1>Register Admin</h1>
            <input type="text" name="username" placeholder="Username" required unique> <br> <br>
            <input type="email" name="email" id="email" placeholder="Email" required unique><br> <br>
            <input type="password" name="password" placeholder="Password" required><br> <br>
            <button type="submit">Register</button>
     
            <% admins.forEach(user => { %>
            <h2><%= user.username %></h2>
            <p>Email: <%= user.email %></p>
            <p>Password: <%= user.password %></p>
          <% }); %>
</script>
</body>
</html>
<script src="/Controller/userController.js"></script>