
  <body>
    <div class="container">
      <h1>Home Page</h1>
      <nav>
       <a href="/Booking">Booking & Dashboard</a>
       <a href="/UserLogin">User Login</a>
       <a href="/Events">Events</a>
       <a href="/Contact">Contact</a>
      </nav>
    </div>